{
  "openapi": "3.1.0",
  "info": {
    "title": "Aptly API",
    "description": "Compliance-as-a-service middleware for LLM requests",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-aptly.nsquaredlabs.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Health Check",
        "description": "Health check endpoint - no authentication required.",
        "operationId": "health_check_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/admin/customers": {
      "post": {
        "summary": "Admin Create Customer",
        "description": "Create a new customer. Admin authentication required.",
        "operationId": "admin_create_customer_v1_admin_customers_post",
        "parameters": [
          {
            "name": "x-admin-secret",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Admin-Secret"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Admin List Customers",
        "description": "List all customers. Admin authentication required.",
        "operationId": "admin_list_customers_v1_admin_customers_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "x-admin-secret",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Admin-Secret"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/customers/{customer_id}": {
      "get": {
        "summary": "Admin Get Customer",
        "description": "Get customer details with API keys and usage. Admin authentication required.",
        "operationId": "admin_get_customer_v1_admin_customers__customer_id__get",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          },
          {
            "name": "x-admin-secret",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Admin-Secret"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/customers/{customer_id}/api-keys": {
      "post": {
        "summary": "Admin Create Api Key",
        "description": "Create an API key for a customer. Admin authentication required.",
        "operationId": "admin_create_api_key_v1_admin_customers__customer_id__api_keys_post",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          },
          {
            "name": "x-admin-secret",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Admin-Secret"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Chat Completions",
        "description": "OpenAI-compatible chat completion endpoint with PII redaction.\n\nRequires customer API key authentication.",
        "operationId": "chat_completions_v1_chat_completions_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "summary": "List Api Keys",
        "description": "List customer's API keys.",
        "operationId": "list_api_keys_v1_api_keys_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Api Key",
        "description": "Create a new API key for the authenticated customer.",
        "operationId": "create_api_key_v1_api_keys_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{key_id}": {
      "delete": {
        "summary": "Revoke Api Key",
        "description": "Revoke an API key.",
        "operationId": "revoke_api_key_v1_api_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/logs": {
      "get": {
        "summary": "Query Logs",
        "description": "Query audit logs with filtering and pagination.",
        "operationId": "query_logs_v1_logs_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Date"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User Id"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Model"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/logs/{log_id}": {
      "get": {
        "summary": "Get Log Detail",
        "description": "Get detailed audit log entry.",
        "operationId": "get_log_detail_v1_logs__log_id__get",
        "parameters": [
          {
            "name": "log_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Log Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Get Profile",
        "description": "Get current customer's profile and usage.",
        "operationId": "get_profile_v1_me_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Profile",
        "description": "Update customer settings.",
        "operationId": "update_profile_v1_me_patch",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/usage": {
      "get": {
        "summary": "Analytics Usage",
        "description": "Usage summary with time series data.",
        "operationId": "analytics_usage_v1_analytics_usage_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Date"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "day",
              "title": "Granularity"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummaryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/models": {
      "get": {
        "summary": "Analytics Models",
        "description": "Breakdown of usage by model.",
        "operationId": "analytics_models_v1_analytics_models_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Date"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelBreakdownResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/users": {
      "get": {
        "summary": "Analytics Users",
        "description": "Breakdown of usage by end-user.",
        "operationId": "analytics_users_v1_analytics_users_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBreakdownResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/pii": {
      "get": {
        "summary": "Analytics Pii",
        "description": "PII detection statistics.",
        "operationId": "analytics_pii_v1_analytics_pii_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "End Date"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PIIStatsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/export": {
      "get": {
        "summary": "Analytics Export",
        "description": "Export analytics data as CSV or JSON.",
        "operationId": "analytics_export_v1_analytics_export_get",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Start Date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "End Date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "csv",
              "title": "Format"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Include"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIKeyResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key"
          },
          "key_prefix": {
            "type": "string",
            "title": "Key Prefix"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "rate_limit_per_hour": {
            "type": "integer",
            "title": "Rate Limit Per Hour"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "key_prefix",
          "name",
          "rate_limit_per_hour",
          "created_at"
        ],
        "title": "APIKeyResponse"
      },
      "AuditLogDetail": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          },
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "tokens_input": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tokens Input"
          },
          "tokens_output": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tokens Output"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "cost_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost Usd"
          },
          "pii_detected": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Pii Detected"
          },
          "compliance_framework": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compliance Framework"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "request_data": {
            "additionalProperties": true,
            "type": "object",
            "title": "Request Data"
          },
          "response_data": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Data"
          }
        },
        "type": "object",
        "required": [
          "id",
          "user_id",
          "provider",
          "model",
          "tokens_input",
          "tokens_output",
          "latency_ms",
          "cost_usd",
          "pii_detected",
          "compliance_framework",
          "created_at",
          "request_data",
          "response_data"
        ],
        "title": "AuditLogDetail"
      },
      "AuditLogSummary": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          },
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "tokens_input": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tokens Input"
          },
          "tokens_output": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tokens Output"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latency Ms"
          },
          "cost_usd": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost Usd"
          },
          "pii_detected": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Pii Detected"
          },
          "compliance_framework": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compliance Framework"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "user_id",
          "provider",
          "model",
          "tokens_input",
          "tokens_output",
          "latency_ms",
          "cost_usd",
          "pii_detected",
          "compliance_framework",
          "created_at"
        ],
        "title": "AuditLogSummary"
      },
      "AuditLogsResponse": {
        "properties": {
          "logs": {
            "items": {
              "$ref": "#/components/schemas/AuditLogSummary"
            },
            "type": "array",
            "title": "Logs"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        },
        "type": "object",
        "required": [
          "logs",
          "pagination"
        ],
        "title": "AuditLogsResponse"
      },
      "ChatCompletionRequest": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model"
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "type": "array",
            "title": "Messages"
          },
          "api_keys": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Api Keys"
          },
          "user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User"
          },
          "stream": {
            "type": "boolean",
            "title": "Stream",
            "default": false
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature"
          },
          "max_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Tokens"
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P"
          },
          "frequency_penalty": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Frequency Penalty"
          },
          "presence_penalty": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Presence Penalty"
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop"
          },
          "redact_response": {
            "type": "boolean",
            "title": "Redact Response",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "model",
          "messages",
          "api_keys"
        ],
        "title": "ChatCompletionRequest"
      },
      "ChatMessage": {
        "properties": {
          "role": {
            "type": "string",
            "title": "Role"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              }
            ],
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "ChatMessage"
      },
      "CreateAPIKeyRequest": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "rate_limit_per_hour": {
            "type": "integer",
            "title": "Rate Limit Per Hour",
            "default": 1000
          }
        },
        "type": "object",
        "title": "CreateAPIKeyRequest"
      },
      "CreateCustomerRequest": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "company_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Company Name"
          },
          "plan": {
            "type": "string",
            "title": "Plan",
            "default": "free"
          },
          "compliance_frameworks": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Compliance Frameworks"
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "CreateCustomerRequest"
      },
      "CreateCustomerResponse": {
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/CustomerResponse"
          },
          "api_key": {
            "$ref": "#/components/schemas/APIKeyResponse"
          }
        },
        "type": "object",
        "required": [
          "customer",
          "api_key"
        ],
        "title": "CreateCustomerResponse"
      },
      "CustomerProfileResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "company_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Company Name"
          },
          "plan": {
            "type": "string",
            "title": "Plan"
          },
          "compliance_frameworks": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Compliance Frameworks"
          },
          "retention_days": {
            "type": "integer",
            "title": "Retention Days"
          },
          "pii_redaction_mode": {
            "type": "string",
            "title": "Pii Redaction Mode"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "usage": {
            "$ref": "#/components/schemas/UsageInfo"
          }
        },
        "type": "object",
        "required": [
          "id",
          "email",
          "company_name",
          "plan",
          "compliance_frameworks",
          "retention_days",
          "pii_redaction_mode",
          "created_at",
          "usage"
        ],
        "title": "CustomerProfileResponse"
      },
      "CustomerResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "company_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Company Name"
          },
          "plan": {
            "type": "string",
            "title": "Plan"
          },
          "compliance_frameworks": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Compliance Frameworks"
          },
          "retention_days": {
            "type": "integer",
            "title": "Retention Days"
          },
          "pii_redaction_mode": {
            "type": "string",
            "title": "Pii Redaction Mode"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "email",
          "company_name",
          "plan",
          "compliance_frameworks",
          "retention_days",
          "pii_redaction_mode",
          "created_at"
        ],
        "title": "CustomerResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ModelBreakdownResponse": {
        "properties": {
          "models": {
            "items": {
              "$ref": "#/components/schemas/ModelData"
            },
            "type": "array",
            "title": "Models"
          },
          "period_start": {
            "type": "string",
            "title": "Period Start"
          },
          "period_end": {
            "type": "string",
            "title": "Period End"
          }
        },
        "type": "object",
        "required": [
          "models",
          "period_start",
          "period_end"
        ],
        "title": "ModelBreakdownResponse"
      },
      "ModelData": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model"
          },
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "requests": {
            "type": "integer",
            "title": "Requests"
          },
          "tokens_input": {
            "type": "integer",
            "title": "Tokens Input"
          },
          "tokens_output": {
            "type": "integer",
            "title": "Tokens Output"
          },
          "cost_usd": {
            "type": "number",
            "title": "Cost Usd"
          },
          "avg_latency_ms": {
            "type": "integer",
            "title": "Avg Latency Ms"
          },
          "percentage_of_requests": {
            "type": "number",
            "title": "Percentage Of Requests"
          }
        },
        "type": "object",
        "required": [
          "model",
          "provider",
          "requests",
          "tokens_input",
          "tokens_output",
          "cost_usd",
          "avg_latency_ms",
          "percentage_of_requests"
        ],
        "title": "ModelData"
      },
      "PIIDataPoint": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "requests_with_pii": {
            "type": "integer",
            "title": "Requests With Pii"
          },
          "total_requests": {
            "type": "integer",
            "title": "Total Requests"
          },
          "pii_rate": {
            "type": "number",
            "title": "Pii Rate"
          }
        },
        "type": "object",
        "required": [
          "date",
          "requests_with_pii",
          "total_requests",
          "pii_rate"
        ],
        "title": "PIIDataPoint"
      },
      "PIIEntityType": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "input_count": {
            "type": "integer",
            "title": "Input Count"
          },
          "response_count": {
            "type": "integer",
            "title": "Response Count"
          },
          "total_count": {
            "type": "integer",
            "title": "Total Count"
          }
        },
        "type": "object",
        "required": [
          "type",
          "input_count",
          "response_count",
          "total_count"
        ],
        "title": "PIIEntityType"
      },
      "PIIStatsResponse": {
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/PIISummaryInfo"
          },
          "entity_types": {
            "items": {
              "$ref": "#/components/schemas/PIIEntityType"
            },
            "type": "array",
            "title": "Entity Types"
          },
          "time_series": {
            "items": {
              "$ref": "#/components/schemas/PIIDataPoint"
            },
            "type": "array",
            "title": "Time Series"
          },
          "period_start": {
            "type": "string",
            "title": "Period Start"
          },
          "period_end": {
            "type": "string",
            "title": "Period End"
          }
        },
        "type": "object",
        "required": [
          "summary",
          "entity_types",
          "time_series",
          "period_start",
          "period_end"
        ],
        "title": "PIIStatsResponse"
      },
      "PIISummaryInfo": {
        "properties": {
          "requests_with_input_pii": {
            "type": "integer",
            "title": "Requests With Input Pii"
          },
          "requests_with_response_pii": {
            "type": "integer",
            "title": "Requests With Response Pii"
          },
          "total_requests": {
            "type": "integer",
            "title": "Total Requests"
          },
          "input_pii_rate": {
            "type": "number",
            "title": "Input Pii Rate"
          },
          "response_pii_rate": {
            "type": "number",
            "title": "Response Pii Rate"
          }
        },
        "type": "object",
        "required": [
          "requests_with_input_pii",
          "requests_with_response_pii",
          "total_requests",
          "input_pii_rate",
          "response_pii_rate"
        ],
        "title": "PIISummaryInfo"
      },
      "PaginationInfo": {
        "properties": {
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "per_page": {
            "type": "integer",
            "title": "Per Page"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages"
          }
        },
        "type": "object",
        "required": [
          "total",
          "page",
          "per_page",
          "total_pages"
        ],
        "title": "PaginationInfo"
      },
      "UpdateCustomerRequest": {
        "properties": {
          "pii_redaction_mode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pii Redaction Mode"
          },
          "compliance_frameworks": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compliance Frameworks"
          }
        },
        "type": "object",
        "title": "UpdateCustomerRequest"
      },
      "UsageDataPoint": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "requests": {
            "type": "integer",
            "title": "Requests"
          },
          "tokens_input": {
            "type": "integer",
            "title": "Tokens Input"
          },
          "tokens_output": {
            "type": "integer",
            "title": "Tokens Output"
          },
          "cost_usd": {
            "type": "number",
            "title": "Cost Usd"
          },
          "avg_latency_ms": {
            "type": "integer",
            "title": "Avg Latency Ms"
          }
        },
        "type": "object",
        "required": [
          "date",
          "requests",
          "tokens_input",
          "tokens_output",
          "cost_usd",
          "avg_latency_ms"
        ],
        "title": "UsageDataPoint"
      },
      "UsageInfo": {
        "properties": {
          "requests_this_month": {
            "type": "integer",
            "title": "Requests This Month"
          },
          "tokens_this_month": {
            "type": "integer",
            "title": "Tokens This Month"
          },
          "rate_limit_per_hour": {
            "type": "integer",
            "title": "Rate Limit Per Hour"
          },
          "requests_this_hour": {
            "type": "integer",
            "title": "Requests This Hour"
          }
        },
        "type": "object",
        "required": [
          "requests_this_month",
          "tokens_this_month",
          "rate_limit_per_hour",
          "requests_this_hour"
        ],
        "title": "UsageInfo"
      },
      "UsageSummaryInfo": {
        "properties": {
          "total_requests": {
            "type": "integer",
            "title": "Total Requests"
          },
          "total_tokens": {
            "type": "integer",
            "title": "Total Tokens"
          },
          "total_cost_usd": {
            "type": "number",
            "title": "Total Cost Usd"
          },
          "avg_latency_ms": {
            "type": "integer",
            "title": "Avg Latency Ms"
          },
          "period_start": {
            "type": "string",
            "title": "Period Start"
          },
          "period_end": {
            "type": "string",
            "title": "Period End"
          }
        },
        "type": "object",
        "required": [
          "total_requests",
          "total_tokens",
          "total_cost_usd",
          "avg_latency_ms",
          "period_start",
          "period_end"
        ],
        "title": "UsageSummaryInfo"
      },
      "UsageSummaryResponse": {
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/UsageSummaryInfo"
          },
          "time_series": {
            "items": {
              "$ref": "#/components/schemas/UsageDataPoint"
            },
            "type": "array",
            "title": "Time Series"
          }
        },
        "type": "object",
        "required": [
          "summary",
          "time_series"
        ],
        "title": "UsageSummaryResponse"
      },
      "UserBreakdownResponse": {
        "properties": {
          "users": {
            "items": {
              "$ref": "#/components/schemas/UserData"
            },
            "type": "array",
            "title": "Users"
          },
          "users_with_no_id": {
            "$ref": "#/components/schemas/UsersWithNoId"
          },
          "total_unique_users": {
            "type": "integer",
            "title": "Total Unique Users"
          },
          "period_start": {
            "type": "string",
            "title": "Period Start"
          },
          "period_end": {
            "type": "string",
            "title": "Period End"
          }
        },
        "type": "object",
        "required": [
          "users",
          "users_with_no_id",
          "total_unique_users",
          "period_start",
          "period_end"
        ],
        "title": "UserBreakdownResponse"
      },
      "UserData": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "requests": {
            "type": "integer",
            "title": "Requests"
          },
          "tokens_input": {
            "type": "integer",
            "title": "Tokens Input"
          },
          "tokens_output": {
            "type": "integer",
            "title": "Tokens Output"
          },
          "cost_usd": {
            "type": "number",
            "title": "Cost Usd"
          },
          "last_active": {
            "type": "string",
            "title": "Last Active"
          }
        },
        "type": "object",
        "required": [
          "user_id",
          "requests",
          "tokens_input",
          "tokens_output",
          "cost_usd",
          "last_active"
        ],
        "title": "UserData"
      },
      "UsersWithNoId": {
        "properties": {
          "requests": {
            "type": "integer",
            "title": "Requests"
          },
          "tokens_input": {
            "type": "integer",
            "title": "Tokens Input"
          },
          "tokens_output": {
            "type": "integer",
            "title": "Tokens Output"
          },
          "cost_usd": {
            "type": "number",
            "title": "Cost Usd"
          }
        },
        "type": "object",
        "required": [
          "requests",
          "tokens_input",
          "tokens_output",
          "cost_usd"
        ],
        "title": "UsersWithNoId"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}